asttokens==3.0.0
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
decorator==5.2.1
diskcache==5.6.3
executing==2.2.0
filelock==3.19.1
fsspec==2025.7.0
huggingface-hub==0.34.4
idna==3.10
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
llama_cpp_python==0.3.16
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
numpy==2.3.2
packaging==25.0
parso==0.8.5
prompt_toolkit==3.0.52
pure_eval==0.2.3
Pygments==2.19.2
PyYAML==6.0.2
requests==2.32.5
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.5.0
wcwidth==0.2.13
